<div class="info__bar">
    <div class="info__inside">
        <a class="title__option leaderboard">Mission no: {{id}} - {{missionName}}</a>
        <div class="final__message">{{victoryMessage}}</div>
        <div class="final__message">{{epitaph}}</div>
    </div>
</div>