<div class="play">
    <div class="status">
        <div class="astronautLives">{astronaut lives} | 
        </div>
        <div class="oxygen"> {oxygen} | 
        </div>
        <div class="fuel"> {fuel}
        </div>
    </div>
    <div class="checkpointOne"><div class="rocketGo"></div></div>
    <div class="checkpointTwo"><div class="rocketGo"></div></div>
    <div class="checkpointThree"><div class="rocketGo"></div></div>
</div>