<div class="play">
    <div class="status">
        <div class="astronautLives">
            <div class="astronaut__block" id="astronautOne">
                <div class="astronaut__helmet dead"></div>
                <div class="astronaut__name">John</div>
            </div>
            <div class="astronaut__block" id="astronautTwo">
                <div class="astronaut__helmet dead"></div>
                <div class="astronaut__name">Paul</div>
            </div>
            <div class="astronaut__block" id="astronautThree">
                <div class="astronaut__helmet"></div>
                <div class="astronaut__name">George</div>
            </div>
            <div class="astronaut__block" id="astronautFour">
                <div class="astronaut__helmet"></div>
                <div class="astronaut__name">Ringo</div>
            </div>
            <div class="astronaut__block" id="astronautFive">
                <div class="astronaut__helmet"></div>
                <div class="astronaut__name">Fake Paul</div>
            </div>
            <div class="astronaut__block" id="astronautSix">
                <div class="astronaut__helmet"></div>
                <div class="astronaut__name">Astronaut 6</div>
            </div>
        </div>
        <div class="oxygen">
        </div>
        <div class="fuel">
        </div>
    </div>
    <div class="checkpointOne">
        <div class="rocketGo"></div>
    </div>
    <div class="checkpointTwo">
        <div class="rocketGo"></div>
    </div>
    <div class="checkpointThree">
        <div class="rocketGo"></div>
    </div>
    <div class="update">
        <div class="statusBar__outer">
            <div class="statusBar__inner">
                <div class="statusBar__text">This is a status update<br>This is line two of a status update.</div>
            </div>
        </div>
    </div>
    <div class="controls">
        <div class="controlBar__content">
            <div class="controlBar__metrics">
                <div class="control__item">Days Travelled:</div>
                <div class="control__item">Sols Travelled:</div>
                <div class="control__item">Space Weather:</div>
                <div class="control__item">Oxygen:</div>
                <div class="control__item">Fuel:</div>
                <div class="control__item">Next Landmark:</div>
                <div class="control__item">km Travelled:</div>
                <div class="control__item">Speed:</div>
            </div>
            <div class="controlBar__data">
                <div class="control__item" id="earthDays">0</div>
                <div class="control__item" id="marsDays">0</div>
                <div class="control__item" id="spaceWeather">Muggy</div>
                <div class="control__item" id="oxygen">99%</div>
                <div class="control__item" id="fuel">99%</div>
                <div class="control__item" id="toCheckpoint">360,000</div>
                <div class="control__item" id="travelled">0</div>
                <div class="control__item">
                    <div class="switch-field gameplay">
                            <input type="radio" id="switch_right" name="switch_2" value="fast" />
                            <label for="switch_right">fast</label>
                            <input type="radio" id="switch_left" name="switch_2" value="slow" checked />
                            <label for="switch_left">slow</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/js/jquery.js"></script>
<script src="/js/app.js"></script>
<script src="/js/index.js"></script>
<script src="/js/timeout.js"></script>


