<h1>The Martian Trail</h1>
<hr class="title__page">
<h2>You May:</h2>
<a class="title__option" href="/mission">Start a New Mission</a>
<a class="title__option" href="/current_missions">Resume a Mission</a>
<a class="title__option" href="/failed_missions">See Failed Missions</a>
<a class="title__option" href="/successful_misssions">See Succesful Missions</a>
<hr class="title__page bottom">
<h3>Which would you like to do?</h3>