<!--
@2014 Jeff Ibacache | http://dev.everblind.me/
License: https://github.com/everblind/js-playground/blob/master/license.md
Source: https://github.com/everblind/js-playground/tree/master/canvas-asteroids
-->

    
    <div id="info">
        <p>Use [A][S][W][D] or [&larr;][&uarr;][&darr;][&rarr;] to MOVE</p>
        <p>Use [SPACE] or [K] to SHOOT</p>
      </div>
      
      <canvas id="canvas"></canvas>



