<h1>The Martian Odyssey</h1>
<hr class="title__page">
<h2>Current Missions</h2>
<ul id="example-list" class="list-group">
    {{#each mission}}
    <li data-id="{{this.id}}" class="list-group-item">
        <a href="play/{{this.missionName}}">{{this.missionName}}</a>
    </li>
    {{/each}}
</ul>
<h3>Which would you like to play?</h3>